.boundary {
    position: fixed;
    top: calc(32px + var(--header-height));
    left: 16px;
    width: calc(100vw - 32px);
    height: calc(100svh - 48px - var(--header-height));
    z-index: 1000;
    pointer-events: none;
    background-color: transparent;

    &,
    * {
        font-size: 12px;
    }

    .tools {
        pointer-events: all;
        position: absolute;
        top: 0;
        right: 0;
        max-height: calc(80lvh);
        overflow: auto;
        border-radius: 16px;
        background-color: #342c40;
        color: white;
        box-shadow: 0 0 64px 4px rgba(0, 0, 0, 0.5);
        font-family: var(--font-monospace);
        display: flex;
        flex-direction: column;

        .heading {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 44px;
            text-align: center;
            background-color: #282231;

            .light {
                position: absolute;
                right: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                background-color: #5a4c6d;
                border-radius: 50%;

                svg {
                    width: 16px;
                    height: 16px;
                    stroke-width: 0.5;
                    stroke: white;
                }
            }

            .name {
                flex: 1;
                font-weight: 600;
                color: #d8bcff;
            }
        }

        .window {
            border-top: solid 1px #5a4c6d;
            overflow: auto;

            .controls {
                padding: 4px 8px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                overflow: auto;

                .control {
                    display: flex;
                    justify-content: space-between;
                    gap: 16px;

                    @media (max-width: 500px) {
                        flex-direction: column;
                        gap: 2px;
                    }

                    .label {
                        padding: 4px 0;
                        font-weight: 600;
                    }

                    .input {
                        flex: 1;
                    }
                }
            }
        }
    }
}

.colorpicker {
    display: flex;
    border-radius: 8px;
    width: max-content;
    height: 100%;

    ol {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .left {
        padding: 4px 0;
        height: 100%;

        .selectors {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .color {
                input[type='radio'] {
                    display: none;

                    &:checked + label:after {
                        padding: 12px;

                        @media (max-width: 500px) {
                            padding: 14px;
                        }
                    }
                }

                label {
                    cursor: pointer;
                    display: inline-block;
                    padding: 8px 16px;

                    &:not(.text) {
                        position: relative;

                        &:before {
                            content: '';
                            display: inline-block;
                            vertical-align: middle;
                            padding: 8px;
                            background-color: currentColor;
                            border-radius: 50%;

                            @media (max-width: 500px) {
                                padding: 8px;
                            }
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            padding: 8px;
                            border: 4px solid;
                            border-radius: 50%;
                            transition: padding 250ms;

                            @media (max-width: 500px) {
                                border: 2px solid;
                            }
                        }
                    }
                }
            }
        }
    }

    .right {
        flex-grow: 1;
        position: relative;
        padding: 4px 0;
        overflow: hidden;

        .name {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            width: 100%;
            height: 32px;
            margin-bottom: 4px;

            input[type='color'] {
                cursor: pointer;
                background-color: #372f43;
                width: 100%;
                height: 100%;
                border: none;
                padding: 0;
            }
        }

        .palette {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .variant {
                cursor: pointer;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 8px;
                width: 100%;
                margin: 0.25em 0;
                padding: 4px 8px;
                border-radius: 0.25em;
                color: #372f43;
                font-weight: 600;
                font-family: 'Roboto Mono', monospace;
                transition: transform 250ms;
            }
        }
    }
}

.fontpicker {
    @media (max-width: 500px) {
        padding: 8px;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-left: 8px;

        li {
            height: 32px;

            @media (max-width: 500px) {
                height: 22px;
            }

            &.font {
                display: flex;
                align-items: center;
                padding: 0 16px;
                border-radius: 4px;

                &.selected {
                    background-color: white;
                    color: #372f43;
                    font-weight: 600;
                }
            }
        }
    }
}
