.scale {
    --height: 600px;

    position: relative;
    width: 100%;
    height: var(--height);
    margin: 0 auto;
    border-radius: 16px;
    overflow: hidden;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05),
        0 8px 16px rgba(0, 0, 0, 0.05), 0 32px 64px rgba(0, 0, 0, 0.125);

    .code-container {
        position: absolute;
        top: calc(var(--height) / 2);
        left: -50%;
        box-shadow: none;
        margin-top: 0;
        margin-bottom: 0;
        width: 100%;
        height: var(--height);

        scale: (2);
    }
}

.code-container {
    --tab-color: var(--color);
    --window-background-color: var(--color);
    --window-url-color: red;
    --window-button-color: red;
    --red: #fe5f58;
    --orange: #ffbc2e;
    --green: #29c73f;

    margin-top: 2rem;
    margin-bottom: 4rem;
    isolation: isolate;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.05),
        0 8px 16px rgba(0, 0, 0, 0.05), 0 32px 64px rgba(0, 0, 0, 0.125);

    .code-header {
        background: var(--tab-color);
        border-radius: 7px 7px 0 0;

        .code-controls {
            display: flex;
            padding-inline: 16px;
            gap: 16px;
            height: 2.25rem;

            .code-buttons {
                display: flex;
                align-items: center;
                gap: 8px;

                .button {
                    width: 0.75rem;
                    height: 0.75rem;
                    border-radius: 50%;

                    &.red {
                        background-color: var(--red);
                    }

                    &.orange {
                        background-color: var(--orange);
                    }

                    &.green {
                        background-color: var(--green);
                    }
                }
            }

            .code-title {
                align-self: flex-end;
                position: relative;
                align-items: center;
                min-width: 0;
                // height: calc(100% - 8px);
                height: 100%;
                font-size: 0.75rem;
                border-radius: 8px 8px 0 0;
                color: var(--background-color);
                background-color: var(--window-background-color);
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
                display: flex;
                padding-inline: 16px;

                .title-icon {
                    position: absolute;
                    bottom: 0;
                    width: 8px;
                    height: 8px;
                    color: var(--window-background-color);

                    &.left {
                        left: 0;
                        transform: translateX(-100%);
                    }

                    &.right {
                        right: 0;
                        transform: translateX(100%);
                    }
                }

                span {
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    min-width: 0;
                }
            }
        }

        // NOTE: might not need this
        // .code-navigation {
        //     display: flex;
        //     align-items: center;
        //     padding-right: 16px;
        //     height: 2.25rem;
        //     background-color: var(--window-background-color);
        //     border-radius: 8px 8px 0 0;

        //     .nav-button {
        //         display: flex;
        //         align-items: center;
        //         justify-content: center;
        //         width: 2rem;
        //         height: 2rem;
        //         color: var(--window-button-color);
        //     }

        //     .nav-url {
        //         flex: 1 1;
        //         display: flex;
        //         align-items: center;
        //         min-width: 0;
        //         height: 1.5rem;
        //         margin-left: 16px;
        //         border-radius: 1000px;
        //         font-size: 0.75rem;
        //         padding-inline: 10px;
        //         background-color: var(--window-url-color);

        //         span {
        //             display: block;
        //             max-width: 100%;
        //             overflow: hidden;
        //             text-overflow: ellipsis;
        //             white-space: nowrap;
        //         }
        //     }
        // }
    }

    .code-content-container {
        overflow: clip;

        .code-content {
            background-color: var(--color);
            color: var(--primary);
            padding: 1rem;
        }
    }
}
