.copy {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2rem;
    width: 100%;
    height: 100%;
    padding: 3rem 2rem;
    padding-right: 0.25rem;
    border-radius: 2rem;
    z-index: 10;

    @media (max-width: 500px) {
        justify-content: flex-start;
        gap: 2rem;
        backdrop-filter: none;
        background-color: transparent;
        padding: 2rem 1rem;
        width: 100%;
    }

    .title {
        flex: 1;
        font-size: clamp(2.5rem, 5vw + 1rem, 5rem);
        font-weight: 700;
        width: 100%;
        color: var(--color);

        div {
            &.color {
                color: var(--primary);
            }

            &.small {
                font-size: 2rem;
            }
        }
    }

    .subtitle {
        font-size: 1.75rem;
        font-weight: 700;
        color: var(--primary);
        width: max-content;
        line-height: 1.25;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1 / 1;
        width: min-content;
        padding: 1rem;

        position: absolute;
        top: 2rem;
        right: -70%;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: var(--background-color);
            z-index: -1;
            border-radius: 3rem;
            transform: rotate(45deg);
            box-shadow: 0 0 64px 4px rgba(0, 0, 0, 0.1);
        }

        @media (max-width: 500px) {
            font-size: 16px;
            position: relative;
            top: unset;
            right: unset;

            &::after {
                border-radius: 2rem;
            }
        }
    }

    .blurb {
        font-family: var(--font-monospace);
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.5;
        color: var(--jsx);
        background-color: var(--code);
        width: max-content;
        padding: 1rem 2rem;
        border-radius: 1rem;
        box-shadow: 0 0 64px 4px rgba(0, 0, 0, 0.18);

        @media (max-width: 500px) {
            font-size: 0.875rem;
        }

        div {
            &:nth-child(2) {
                padding-left: 2ch;
            }
        }
    }

    .cta {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media (max-width: 500px) {
            width: 100%;
        }

        .description {
            color: var(--primary);
            font-size: 1.25rem;
            margin-bottom: 1rem;
            width: max-content;
            line-height: 1.5;
        }

        .btn {
            @media (max-width: 500px) {
                width: 100%;
            }

            .motion {
                display: flex;
                align-items: center;
                border-radius: 52px;
                padding: 0.25rem;
                background-color: var(--primary);
                width: max-content;

                @media (max-width: 500px) {
                    width: 100%;
                }

                .arrow {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background-color: var(--background-color);

                    svg {
                        width: 32px;
                        height: 32px;
                        fill: var(--primary);
                        stroke: var(--primary);
                        stroke-width: 1;
                    }
                }

                span {
                    padding: 0 2rem;
                    color: var(--background-color);
                    font-size: 1.5rem;
                    font-weight: 600;
                    font-family: var(--font-monospace);
                    text-transform: lowercase;

                    @media (max-width: 500px) {
                        font-size: 1.25rem;
                        padding: 0 1rem;
                    }
                }
            }
        }
    }
}
