.shapes {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100lvh;
    width: 100vw;
    max-width: 1200px;
    z-index: 0;
    margin: 0 auto;

    @media (max-width: 500px) {
        display: none;
    }

    .shape {
        --edge: var(--primary-8);

        position: absolute;
        top: var(--shape-top);
        left: var(--shape-left);
        transform: rotate(var(--shape-rotate, 0deg))
            scale(var(--shape-scale, 1));

        rect,
        circle {
            stroke: var(--edge);
        }
    }
}
