:root {
    --font-primary: var(--font-space-mono);
    --font-monospace: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo,
        Consolas, 'DejaVu Sans Mono', monospace;
    --max-width: 1100px;
    --header-height: 52px;

    // Primary
    --primary: #c71585;
    --primary-2: #ce3294;
    --primary-3: #d550a4;
    --primary-4: #dc6db3;
    --primary-5: #e38ac2;
    --primary-6: #eaa7d1;
    --primary-7: #f1c5e1;
    --primary-8: #f8e2f0;
    --primary-9: #fef9fc;

    // Secondary
    --secondary: #00938c;
    --secondary-2: #20a19a;
    --secondary-3: #40aea9;
    --secondary-4: #60bcb7;
    --secondary-5: #80c9c6;
    --secondary-6: #9fd7d4;
    --secondary-7: #bfe4e2;
    --secondary-8: #dff2f1;
    --secondary-9: #f9fcfc;
    --secondary-text: #00615c;

    // Background
    --background-color: var(--primary-9);

    // Color
    --color: #221d29;
    --color-light: #c6b6db;
    --color-medium: #5f6b7a;

    // Muted
    --muted: #757575;
    --muted-light: #ddd;
    --muted-dark: #656565;

    // Misc
    --code: #212121;
    --jsx: #4ec9b0;
    --comment: #6a9955;
    --window-background-color: white;
    --blur-bg: rgba(255, 255, 255, 0.6);
}

@media (prefers-color-scheme: dark) {
    :root {
        // Primary
        --primary: #c71585;
        --primary-2: #ce3294;
        --primary-3: #d550a4;
        --primary-4: #dc6db3;
        --primary-5: #e38ac2;
        --primary-6: #eaa7d1;
        --primary-7: #f1c5e1;
        --primary-8: #f8e2f0;
        --primary-9: #fef9fc;

        // Secondary
        --secondary: #00938c;
        --secondary-2: #20a19a;
        --secondary-3: #40aea9;
        --secondary-4: #60bcb7;
        --secondary-5: #80c9c6;
        --secondary-6: #9fd7d4;
        --secondary-7: #bfe4e2;
        --secondary-8: #dff2f1;
        --secondary-9: #f9fcfc;
        --secondary-text: #00615c;

        // Background
        --background-color: #221d29;

        // Color
        --color: #ffffff;
        --color-light: #909090;
        --color-medium: #5f6b7a;

        // Muted
        --muted: #dfdfdf;
        --muted-light: #efefef;
        --muted-dark: #a4a4a4;

        // Misc
        --code: #212121;
        --jsx: #4ec9b0;
        --window-background-color: black;
        --blur-bg: rgba(34, 29, 41, 0.7);
    }

    html {
        color-scheme: dark;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

html,
body {
    background-color: var(--background-color);
    overscroll-behavior: none;
}

body {
    font-family: var(--font-primary);
    overflow-x: hidden;

    &.no-scroll {
        overflow: hidden;
    }
}

a,
button {
    -webkit-tap-highlight-color: transparent;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    font-family: var(--font-primary);
    padding: 0;
    border: none;
    background-color: inherit;
    color: inherit;
}

.page {
    position: relative;
}
