.menu {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex: 1;
    width: 500px;
    max-width: 100%;
    height: 100dvh;
    background-color: transparent;
    overflow: hidden;

    &:not(.open) {
        pointer-events: none;
    }

    @media (min-width: 501px) {
        display: none;
    }

    nav {
        width: 100%;

        .background {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            backdrop-filter: blur(20px);
            background-color: var(--blur-bg);
        }

        .list {
            list-style: none;
            padding: 0rem 3rem;
            margin: 0;
            position: absolute;
            top: 80px;
            width: 100%;

            .item {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0;
                margin: 0;
                height: 54px;

                a {
                    display: inline-block;
                    width: 100%;
                    font-size: 1.75rem;
                }

                // .icon {
                //     flex: 0 0 40px;
                //     width: 40px;
                //     height: 40px;
                //     margin-right: 1.25rem;
                //     border-radius: 50%;
                //     border: solid 2px var(--primary);
                // }

                // .text {
                //     flex: 1;
                //     width: 200px;
                //     height: 1.25rem;
                //     border-radius: 5px;
                //     border: solid 2px var(--primary);
                // }
            }
        }
    }

    .toggle {
        user-select: none;
        cursor: pointer;
        pointer-events: all;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 44px;
        height: 44px;
        background: transparent;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            path {
                fill: transparent;
                stroke-width: 2.5;
                stroke: var(--primary);
                stroke-linecap: round;
            }
        }
    }
}
